<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NF Listener</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
          margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
            <h1>Nextflow Listener</h1>
            <p class="lead">Messages:</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over messages and render them -->
                  <% messages.forEach((message) => { %>
                    <a href="/message/<%= message.id %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= message.id %> : <%= message.runStatus %></h4>
                    </a>
                  <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
