<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nextflow Dashboard</title>
</head>

<body>
    <div>
        <h1>Nextflow Dashboard</h1>
        <p>Workflows:</p>
        <div >
          <!-- loop over runs and render them -->
          <% runs.forEach((run) => { %>
            <a href="/workflow/<%= run.runid %>">
                <h4>[<%= run.runname %>] <%= run.runid %></h4>
            </a>
          <% }) %>
        </div>
    </div>
</body>

</html>
