<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nextflow Dashboard</title>
</head>

<script>
var ws = new WebSocket('ws://localhost:40510');

// event emmited when connected
ws.onopen = function () {
    console.log('websocket is connected ...');

    // sending a send event to websocket server
    ws.send('connected');
};

// display the workflow state sent over websocket
ws.onmessage = function (ev) {
    var data = JSON.parse(ev.data);
    var numworkflows = Number(data.num);
    var workflowState = data.state;
    var message = `${workflowState}`;
    console.log('got socket message')
    document.getElementById("workflow-status").innerHTML = `${message}`;
};
</script>

<body>

    <div>
        <h1>Nextflow Dashboard</h1>

        <div id="workflow-status">
            <!-- default message: -->
            No Running Workflows...
        </div>
        <form method="post" action="/start", target="start">
          <input type="submit", value="Start New Workflow">
          <iframe src='about:blank', name="start", style="width: 0; height: 0; border: 0; border: none; position: absolute;"></iframe>
        </form>

        <p>Available Workflows:</p>
        <div >
          <!-- loop over runs and render them -->
          <% runs.forEach((run) => { %>
            <a href="/workflow/<%= run.runid %>">
                <h4>[<%= run.runname %>] <%= run.runid %></h4>
            </a>
          <% }) %>
        </div>
    </div>
</body>

</html>
