<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nextflow Dashboard</title>
</head>

<body>
    <div>
        <h1>Nextflow Dashboard</h1>
        <form method="post" action="/start", target="start">
          <input type="submit", value="Start New Workflow">
          <iframe src='about:blank', name="start", style="width: 0; height: 0; border: 0; border: none; position: absolute;"></iframe>
        </form>
        <p>Available Workflows:</p>
        <div >
          <!-- loop over runs and render them -->
          <% runs.forEach((run) => { %>
            <a href="/workflow/<%= run.runid %>">
                <h4>[<%= run.runname %>] <%= run.runid %></h4>
            </a>
          <% }) %>
        </div>
    </div>
</body>

</html>
